.frame {
    height: 250px;
    border: 1px solid silver;
    margin: 5px;
    padding: 5px;
    background: linear-gradient( 
180deg, #288188 95%, #0D3B4F 113%);
    color: white;
    border-radius: 10px;
}
.img-dim{
    width: 100%;
    height: 200px;
}
.title {
    font-family: sans-serif;
    text-align: center;
}
.content {
    text-align: center;
}